@import "bootstrap/scss/bootstrap";

/* Global Styles */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Layout and Structure */
.button-container {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#clockContainer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

/* Components and Elements */
.table {
    width: 100%;
}

.table td {
    width: 50%;
}

.table-header {
    margin-bottom: 0.25rem;
}

.config-button-container {
    position: absolute;
    right: 10px;
}

.btn-lg {
    width: 48px;
    height: 48px;
}

#infoMenuBtn {
    position: absolute;
    left: 10px;
    z-index: 2;
}

#optionsMenuBtn {
    z-index: 2;
}

.toast .toast-body {
    overflow-y: auto;
}

/* Media Queries */
@media screen and (max-height: 485px) {
    .toast .toast-body {
        max-height: 250px;
    }
}

@media screen and (max-width: 400px) {
    .github-logo {
        display: none;
    }
}
