@import "bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.table {
    width: 100%;
}

.table td {
    width: 50%;
}

.table-header {
    margin-bottom: 0.25rem;
}

.button-container {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
}

.config-button-container {
    position: absolute;
    right: 10px;
}

#infoMenuBtn {
    position: absolute;
    left: 10px;
}

.toast .toast-body {
    overflow-y: auto;
}

@media (max-height: 450px) {
    .toast .toast-body {
        max-height: 225px;
    }
}
